# dev.env.example
SPRING_PROFILES_ACTIVE=dev
TZ=Asia/Seoul
DOCKERHUB_USERNAME=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379
